#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	libtoolize --ltdl -c -f
	autoreconf -i
	dh_auto_configure -- --disable-rpath

override_dh_auto_build:
	dh_auto_build
	$(MAKE) docs

override_dh_auto_install:
	chrpath -d bin/gearadmin gearmand/gearmand
	dh_auto_install

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_strip:
	dh_strip --dbg-package=libgearman-dbg

